.splash-screen {
    position: relative;
}

.splash-buttons {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
}

.game-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c66bfe;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 2.5em;
    border: solid #c66bfe 5px;
    border-radius: 40px;
    padding: 20px;
    background-color: #e5c9ff;
}

.game-link:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.game-image {
    height: 300px;
    width: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
}

.stars-animation {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
