.guess-the-animal-game {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    color: white;
    margin: 2rem;
}

.letters-container {
    width: 275px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.image-and-guess {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.available-letter-tile {
    display: flex;
    width: 100px;
    height: 100px;
    margin: 1rem;
    border: solid white 3px;
    border-radius: 20px;
}

.letter {
    margin: auto;
    width: 50%;
    font-size: 4em;
    text-align: center;
}