.guess-the-animal-game {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    margin: 3.2rem 5rem;
}

.letters-container {
    width: 275px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.image-and-guess {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.available-letter-tile {
    display: flex;
    width: 100px;
    height: 100px;
    margin: 1rem;
    border: solid rgb(224, 162, 255) 7px;
    background-color: rgb(255, 255, 227);
    color: rgb(224, 162, 255);
    font-weight: bold;
    border-radius: 20px;
}

.letter {
    margin: auto;
    width: 50%;
    font-size: 4em;
    text-align: center;
}

.guessed-letter-tile {
    display: flex;
    width: 100px;
    height: 100px;
    margin: 1rem;
    border-bottom: solid rgb(232, 187, 255) 7px;
    color: rgb(232, 187, 255);
    font-weight: bold;
}

.current-guess {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

// yellow rgb(253, 255, 136)
// blue rgb(0, 247, 255)